.mbox {   
    display: block;
    width: 20px;
    height: 20px;
    margin: 11px 56px 11px 26px;
    padding-left: 25px;
}

.topcorner{
    position:absolute;
    top:71px;
    right:87px;
   }
   
.pietopcorner{
    position:absolute;
    top:0px;
    right:10px;
   }